{% extends 'base.html.twig' %}

{% block title %}Vencimientos Pasantías{% endblock %}
{% block stylesheets %}
            {{parent()}}
            <link href="{{ asset("css/form/forms.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    {{parent()}}
<main class="content-datatable">
    <div class="container-datatable-box">
        <span id="list_tittle">Vencimiento Pasantías</span>
        <table class="container-table" id="myTable">
            <thead>
                <tr>
                    <th>Fecha Vencimiento</th>
                    <th>Nombre</th>
                    <th>Modificar</th>
                    <th>Ver Datos</th> 
                </tr>
                </tr>
            </thead>
            <tbody>
                 {% for pasantia in pasantias %}
                    <tr>
                        <td>{{ pasantia.getFechaFin()|date('d-m-Y')}}</td>
                        <td>{{ pasantia.nombre }}</td>  
                        <td><a href="{{path('modificarPasantia', {'id': pasantia.id})}}">
                            <img src="../img/svg/pen-to-square-solid.svg" alt="pen"></img>
                        </a></td>
                        <td><a href="{{path('verPasantia', {'id': pasantia.id})}}">
                            <img src="../img/svg/eye-solid.svg" alt="ojo" ></img>
                        </a></td>                  

                        </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>
</main>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable( {
                responsive: true,
                scrollY: 320,
            });
        });
    </script>
{% endblock %}