
{% extends 'base.html.twig' %}

{% block title %}Comprobante de Pago{% endblock %}
{% block stylesheets %}
            {{parent()}}
            <link href="{{ asset("css/form/forms.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<main class="content">
    <div class="container-box">
        <h2>Comprobante de Pago</h2> 
        <h1>Cargar Comprobante de Pago</h1> 
            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                <div class="container-form-box">
                        <div class="form-box">
                               {{ form_widget(formulario.totalAbonado)}}
                                <label>Total Abonado</label>
                        </div>
                        <div class="form-box" id="porcentage-cobro">
                                <h3>Porcentaje de Cobro</h3>
                                %{{pago.porcentajedeCobro}}
                        </div>
                </div>
                <div class="container-form-box">
                        <div class="form-box">
                                {{ form_widget(formulario.totalaCobrar)}}
                                <label>Total a Cobrar</label>
                        </div>
                        <div class="form-box">
                                {{ form_widget(formulario.comprobantePago)}}
                                <label>Comprobante de Pago</label>
                        </div>
                </div>
                <div class="container-form-box-buttom">
                    <div class="form-box-buttom" id="buttom-load">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            {{ form_widget(formulario.Guardar)}}
                        </a>
                    </div>
                </div>
            {{ form_end(formulario) }}
    </div>



</main>

{% endif %} 
{% endblock %}
{% block javascripts %}
       {{parent()}}
        <script>
        function totalCobro() {
                var x = document.getElementById("comprobante_pago_totalAbonado");
                var y = document.getElementById("comprobante_pago_totalaCobrar");
                var percentage= {{pago.porcentajedeCobro}};

                var sum= (x.value * percentage)/100;
                y.value = sum;
        }
        </script>
{% endblock %}
