{% extends 'base.html.twig' %}

{% block title %}Seguimiento Pasante{% endblock %}
{% block stylesheets %}
            {{parent()}}
            <link href="{{ asset("css/form/forms.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<main class="content">
    <div class="container-box">
        <h2>Pasante</h2> 
        <h1>Seguimiento Pasante</h1> 
            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                <div class="container-form-box">
                        <div class="form-choice">
                                {{ form_widget(formulario.isSeguimientodelmes)}}
                                <label>Seguimiento del Mes</label>
                        </div>
                </div>
                <div class="container-form-box-buttom">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            {{ form_widget(formulario.Actualizar)}}
                        </a>
                </div>

            {{ form_end(formulario) }}
    </div>
</main>
{% endif %} 
{% endblock %}
{% block javascripts %}
       {{parent()}}
       <script src="{{ asset("/PasantiasyBecasFuturxsProfesionalesTest/js/contacto/contacto.js") }}"></script>
        <script>
            $(document).ready( function () {
                $('#myTable').DataTable();
            } );
        </script>
{% endblock %} 