{% extends 'base.html.twig' %}

{% block title %}Modificar Pasante{% endblock %}
{% block stylesheets %}
            {{parent()}}
            <link href="{{ asset("css/form/forms.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<main class="content">
    <div class="container-box">
        <h2>Pasante</h2> 
        <h1>Modificar Pasante</h1> 
            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                <div class="container-form-box">
                        <div class="form-box">
                                <input for="nombre" placeholder="{{pasante.getNombre()}}" disabled></input> 
                        </div>
                        <div class="form-box">
                                <input for="apellido" placeholder="{{pasante.getApellido()}}" disabled></input> 
                        </div>
                </div>
                <div class="container-form-box">
                        <div class="form-box">
                                {{ form_widget(formulario.cuil)}}
                                <label>Cuil</label>
                        </div>
                        <div class="form-box">
                                <input for="dni" placeholder="{{pasante.getDni()}}" disabled></input> 
                        </div>
                </div>
                <div class="container-form-box">
                        <div class="form-box">
                                    {{ form_widget(formulario.legajo)}}
                                <label>Legajo</label>
                        </div>
                </div>
                <div class="container-form-box">
                        <div class="form-box">
                                {{ form_widget(formulario.provincia)}}
                                {#<label>Provincia</label>#}
                        </div>
                        <div class="form-box">
                                {{ form_widget(formulario.localidad)}}
                                <label>Localidad</label>
                        </div>
                        <div class="form-box">
                                {{ form_widget(formulario.direccion)}}
                                <label>Dirección</label>
                        </div>
                </div>
                <div class="container-form-box">
                        <table class="container-table" id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Telefono</th> 
                                    <th scope="col">Email</th>

                                    
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contactos in contacto %}
                                    <tr>
                                                                
                                        <td >{{ contactos.nombre}}</td>
                                        <td >{{ contactos.apellido}}</td>
                                        <td >{{ contactos.email}}</td>
                                        <td >{{ contactos.telefono}}</td>
                                            
                                        <td><a href="{{path('eliminarContactoPasante', {'id': contactos.id})}}">
                                        <img src="{{ asset("img/svg/eliminar-contacto.svg") }}" alt="eliminar Contacto">
                                        </a></td>  
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="form-box">
                                <h3>Contacto</h3>
                                <ul class="contacto" data-prototype="{{form_widget(formulario.contacto.vars.prototype) |e('html_attr') }}">
                                        <li data-collection-holder-class="contacto">{{ form_widget(formulariocontacto)}}</li>
                                </ul>
                            <button type="button" class="add_item_link btn btn-outline-info text-center" id="btn-contact" data-collection-holder-class="contacto">
                                <img src="../../img/svg/circle-plus-solid.svg" alt="Agregar Contacto"/>
                            </button>
                        </div>
                </div>
                
                <div class="container-form-box-buttom">
                        <a href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                {{ form_widget(formulario.Guardar)}} 
                            </a>
                </div>

            {{ form_end(formulario) }}
    </div>
</main>
{% endif %} 
{% endblock %}
{% block javascripts %}
       {{parent()}}
       <script src="{{ asset("/PasantiasyBecasFuturxsProfesionales/js/contacto/contacto.js") }}"></script>
       <script>
        $(document).ready(function() {
                $('#myTable').DataTable( {
                        responsive: true,
                        scrollX: 10,
                });
        });
    </script>
{% endblock %} 
