{% extends 'base.html.twig' %}

{% block title %}Pasantías En Proceso{% endblock %}
{% block stylesheets %}
            {{parent()}}
            <link href="{{ asset("css/form/forms.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    {{parent()}}
<main class="content-datatable">
    <div class="container-datatable-box">
        <span id="list_tittle">Pasantías En Proceso</span>
        <table class="container-table" id="myTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Area Actual</th>
                    <th>Fecha Modificacion</th>
                    <th>Ver Datos</th> 
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                 {% for pasantias in pasantia %}
                    <tr>                  
                        <td>{{ pasantias.nombre }}</td>
                        <td>{{ pasantias.areaEncargada.getNombre()}}</td>
                        <td>{{ pasantias.fechaModificacion|date('d-m-Y')}}</td>
                        <td><a href="{{path('verPasantia', {'id': pasantias.id})}}">
                            <img src="../img/svg/eye-solid.svg" alt="ojo" ></img>
                        </a></td>                  
                        <td><a href="{{path('eliminarPasantiaEnProceso', {'id': pasantias.id})}}" onclick="return confirm('Esta seguro que desea eliminar los datos')">
                            <img src="../img/svg/dumpster-fire-solid.svg" alt="tacho de basura"></img>
                        </a></td>
                    </tr>
                {% endfor %}
                
            </tbody>


        </table>
    </div>
</main>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable( {
                responsive: true,
                scrollY: 320,
            });
        });
    </script>
    
{% endblock %}